.finish-checkout-container {
    margin-top: 80px;
    background: linear-gradient(to bottom, #E1E2E2, #fc8b33, #1D2228);
    min-height: 100vh - 80px;

}

.finish-checkout-main-cont {
    min-height: 65vh;
}


.card-form-main {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 400px;
    padding: 24px;
}

.card-form-main label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}


.card-form-main input[type="text"],
input[type="password"] {
    background-color: #f8f8f8;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    margin-bottom: 16px;
}

.card-form-main input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

.card-form-main input[type="submit"] {
    background-color: #e68a00;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    transition: background-color 0.3s ease-in-out;
}

.card-form-main input[type="submit"]:hover {
    background-color: #d97a00;
}

/* @media only screen and (min-width: 768px) {
    form {
        max-width: 500px;
    }

    input[type="text"] {
        width: 50%;
    }

    label {
        margin-top: 20px;
    }
} */


.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkout-colorbtn {

    background-color: #fc8b33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.checkout-colorbtn:hover {
    background-color: #1D2228;
    color: #fff;
    border: 1px solid #fff;
}

.checkout-colorbtn:disabled {
    background-color: #1D2228;
}

.checkout-colorbtn-goback {
    background-color: #1D2228;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin-top: 10px;
}

.checkout-colorbtn-goback:hover {
    background-color: #fc8b33;
    color: #fff;
    border: 2px solid #fff;
}

.card-main {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #1D2228;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-image: url(../../assets/VisaCard/map.png);
    background-size: cover;
    border-color: #fff;
}

.card__header {
    position: relative;
    height: 60px;
    background-color: #ffffff00;
}

.card__logo {
    width: 60px;
    height: 60px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Visa_2021_logo.svg/320px-Visa_2021_logo.svg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.card__body {
    position: relative;
    padding: 20px;
    color: #fff;
}

.card__number {
    font-size: 24px;
    margin-bottom: 20px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__name {
    font-size: 18px;
}

.card__expiration-date,
.card__cvv {
    font-size: 14px;
}


.order-amount {
    background-color: #1d2228;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.order-amount h4 {
    margin-bottom: 10px;
}

.order-amount hr {
    border-top: 1px solid #fff;
    margin: 10px 0;
}

.order-amount p {
    margin: 5px 0;
}

.order-amount small {
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

.order-amount button {
    background-color: #fc8b33;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrapper-circle {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.checkmark {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1d2228;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e1e2e2;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.checkmark:after {
    content: "\2713";
    font-size: 90px;
    color: #fc8b33;
    color: green;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.checkmark-p {
    color: #fff;
    text-align: center;
    margin-top: 25px;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes fadeIn {
    from {}

    to {}
}














/* ========================TEST */

/** * Extracted from: SweetAlert * Modified by: Istiak Tridip */
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}

.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}

.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before,
.success-checkmark .check-icon::after {
    content: "";
    height: 100px;
    position: absolute;
    background: transparent;
    transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
}

.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: transparent;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}


/* ========================TEST */