.colorbtn {
    color: #fff;
    background-color: #fc8b33;
}

.colorbtn:hover {
    background-color: #1D2228;
    color: #E1E2E2;
}


.col {
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-individual-card {
    width: 18rem;
    margin: 5px;
}



@media (max-width: 768px) {


    .game-individual-card {
        width: 9rem;
    }

    .game-individual-title {
        font-size: 1rem;
        margin: 0;
    }


    .test {

        display: none;
    }

    .list-group-flush {
        font-size: 0.8rem;
    }

    .colorbtn {
        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;

        padding: 0;
        text-align: center;
    }

    .favorites-btn {
        margin-left: 0 !important;
    }
}