/* Default styles */
.footer-container {
    background-color: #E1E2E2;
    color: black;
}

.footer-container hr {
    border-top: 1px solid #000;
}

.footer-container p {
    margin: 0;
}

.footer-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-main-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    color: rgb(252, 139, 51);
    gap: 5px;
}

.footer-main-right-side {
    display: flex;
    align-items: center;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-address-left {
    margin-right: 16px;
}

.footer-social-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(252, 139, 51);
    gap: 5px;
}

.footer-terms {
    text-align: center;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-terms p {
    margin: 0;
    text-align: justify;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .footer-payment {
        flex-direction: column;
        align-items: flex-start;
    }

    .payment-images {
        flex-wrap: wrap;
    }

    .footer-main-right-side {
        margin-top: 16px;
    }

    .footer-address {
        flex-direction: column;
        align-items: center;
    }

    .footer-address-left {
        margin-right: 0;
        margin-bottom: 16px;
        text-align: center;
    }

    .footer-social-right {
        margin-top: 16px;
    }
}