.box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.for-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}